version: "3"

services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/sabnzbd:/config
      - /media/ryan/ROOTFS/media_empire/downloads/usenet:/downloads
      - /media/ryan/ROOTFS/media_empire/downloads/complete:/downloads/complete
    ports:
      - "8085:8080"
    networks:
      - media-network
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8082
    volumes:
      - ./config/qbittorrent:/config
      - /media/ryan/ROOTFS/media_empire/downloads/torrents:/downloads
    ports:
      - "8082:8082"
      - "6881:6881"
      - "6881:6881/udp"
    networks:
      - media-network
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/prowlarr:/config
    ports:
      - "9696:9696"
    networks:
      - media-network
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/radarr:/config
      - /media/ryan/ROOTFS/media_empire/movies:/movies
      - /media/ryan/ROOTFS/media_empire/downloads:/downloads
    ports:
      - "7878:7878"
    networks:
      - media-network
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/sonarr:/config
      - /media/ryan/ROOTFS/media_empire/tv:/tv
      - /media/ryan/ROOTFS/media_empire/downloads:/downloads
    ports:
      - "8989:8989"
    networks:
      - media-network
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/jellyfin:/config

      - /media/ryan/ROOTFS/media_empire/movies:/media/movies
      - /media/ryan/ROOTFS/media_empire/tv:/media/tv
    ports:
      - "8096:8096"
    networks:
      - media-network
    restart: unless-stopped

  rdtclient:
    image: rogerfar/rdtclient:latest
    container_name: rdtclient
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/rdtclient:/data/db
      - /media/ryan/ROOTFS/media_empire/downloads:/data/downloads
    ports:
      - "6500:6500"
    networks:
      - media-network
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/jellyseerr:/app/config
    ports:
      - "5055:5055"
    networks:
      - media-network
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/bazarr:/config
      - /media/ryan/ROOTFS/media_empire/movies:/movies
      - /media/ryan/ROOTFS/media_empire/tv:/tv
    ports:
      - "6767:6767"
    networks:
      - media-network
    restart: unless-stopped

  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/tautulli:/config
    ports:
      - "8181:8181"
    networks:
      - media-network
    restart: unless-stopped

  tdarr:
    image: ghcr.io/haveagitgat/tdarr:latest
    container_name: tdarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK_SET=002
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - nodeName=InternalNode
    volumes:
      - ./config/tdarr/server:/app/server
      - ./config/tdarr/configs:/app/configs
      - ./config/tdarr/logs:/app/logs

      - /media/ryan/ROOTFS/media_empire/movies:/media/movies
      - /media/ryan/ROOTFS/media_empire/tv:/media/tv
      - /media/ryan/ROOTFS/media_empire/downloads/transcode_cache:/temp
    ports:
      - "8265:8265"
      - "8266:8266"
    networks:
      - media-network
    restart: unless-stopped

  unpackerr:
    image: golift/unpackerr:latest
    container_name: unpackerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UN_RADARR_0_URL=http://radarr:7878
      - UN_RADARR_0_API_KEY=4df9b2c5d0c641808fb9bd8e2d30c156
      - UN_RADARR_0_PATHS_0=/downloads
      - UN_SONARR_0_URL=http://sonarr:8989
      - UN_SONARR_0_API_KEY=3b2b941b68bc40aa822ee14d58f28786
      - UN_SONARR_0_PATHS_0=/downloads
    volumes:
      - /media/ryan/ROOTFS/media_empire/downloads:/downloads
    restart: unless-stopped
    networks:
      - media-network

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/npm/data:/data
      - ./config/npm/letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    networks:
      - media-network
    restart: unless-stopped

networks:
  media-network:
    driver: bridge
